<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body style="color: blue;background-color: black;">
    
<h1 style="justify-content: center;text-align: center;">  Keep a track of all your expenses with the help of this app. </h1>

<header  >  Wow Nice to see you here</header>
<div style="background-color: yellow;position: fixed;left:45%;top:30%;height: 100px;width: 150px;">
<a  href="/login" role="button" id="button;"style="position: relative;left:30%" >Login</a>
<p style="justify-items: center;">Don't have  any account?
<a  href="/register" role="button" id="button" >Register here</a>
</p>
</div>
</form>

</body>
</html>
